@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

body.hover {
    background-color: #e0f2d1;
}

canvas {
    max-width: 100%;
}